<nav class="navbar navbar-expand-lg navEstrutura" (mouseleave)="exitingDropDownSettings()" >

  <div class="menu_hamburger" (click)="abrirSideDrawerNavBar()" >
      <img [src]="iconeHamburger" class="hamburger_image" alt="hamburger_menu" />
  </div>

  <div class="navbar-brand" >
    <img [src]="logoEmpresa" width="80px" height="65px" class="logo_handover" alt="handover" />
  </div>

  <div class="faixa" ></div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home </a>
      <a class="nav-item nav-link" href="#">Usuários</a>
      <a class="nav-item nav-link" href="#">Produtos</a>
      <a class="nav-item nav-link" href="#">Lockers</a>
      <a class="nav-item nav-link" href="#">Relatórios</a>
      <a class="nav-item nav-link" href="#">Status da Plataforma</a>

    </div>
  </div>


  <div class="dropdown" >

    <div class="dropdown-menu" [ngStyle]="{'display': settingsHover? 'block' : 'none'}" (mouseleave)="exitingDropDownSettings()" >
        <a class="dropdown-item" href="#">Minhas Configurações</a>
        <a class="dropdown-item" href="#">Vendas</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
  </div>
  <div class="form-inline">
      <img [src]="settingsIcon" (mouseover)="dropDownSettings($event)" class="settingsIcone" alt="imagem"  />
  </div>

</nav>

<app-side-drawer [sideDrawerOpen]="abrirSideDrawerNav" ></app-side-drawer>
