<nav class="navbar navbar-expand-lg navEstrutura">

  <div class="navbar-brand" >
    <img [src]="logoEmpresa" width="80px" height="65px" class="logo_handover" alt="handover" />
  </div>
  <div class="faixa" ></div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home </a>
      <a class="nav-item nav-link" href="#">Usuários</a>
      <a class="nav-item nav-link" href="#">Produtos</a>
      <a class="nav-item nav-link" href="#">Lockers</a>
      <a class="nav-item nav-link" href="#">Relatórios</a>
      <a class="nav-item nav-link" href="#">Status da Plataforma</a>

    </div>
  </div>

  <div class="form-inline">
      <img [src]="settingsIcon" class="settingsIcone" alt="imagem"  />
  </div>

</nav>
