<div class="todo_usuario" >
    <div class="row">
      <div class="col-sm-3 ladoEsq">
        <div class="menuEsq" >

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Listar Todos os clientes</li>
            <li class="list-group-item">Listar Clientes normais</li>
            <li class="list-group-item">Listar Vendedores</li>
          </ul>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="listaDir" >

          <h2>Lista de Clientes</h2>
            <div class="barra_pesquisa" >
              <input type="text" class="form-control" placeholder="Digite o nome para pesquisa" />
              <button class="btn btn-success" >Pesquisar</button>
            </div>

            <div class="lista_de_clientes" >
              <div class="row">

                  <div class="col-sm-3">
                      <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Joao Batista</h5>
                            <p>Endereço: Rua das Satutas</p>
                            <p>Pais: Brasil</p>
                            <p>Estado: São Paulo</p>
                            <p>Cidade: São Paulo</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Maria do Carmo</h5>
                            <p>Endereço: Rua das Satiras</p>
                            <p>Pais: Brasil</p>
                            <p>Estado: São Paulo</p>
                            <p>Cidade: São Paulo</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Maria do Carmo</h5>
                            <p>Endereço: Rua das Satiras</p>
                            <p>Pais: Brasil</p>
                            <p>Estado: São Paulo</p>
                            <p>Cidade: São Paulo</p>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">Maria do Carmo</h5>
                          <p>Endereço: Rua das Satiras</p>
                          <p>Pais: Brasil</p>
                          <p>Estado: São Paulo</p>
                          <p>Cidade: São Paulo</p>
                        </div>
                      </div>
                  </div>

              </div>
            </div>

        </div>
      </div>
    </div>
</div>


