<div class="todo_locker" >
  <div class="row">
    <div class="col-sm-3 ladoEsq">
      <div class="menuEsq" >
        <ul class="list-group list-group-flush" >
          <li class="list-group-item" >Listar todos os Lockers</li>
          <li class="list-group-item" >Listar Lockers por cidades</li>
          <li class="list-group-item" >Listar Locker por estado</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="listaDir" >
        <h2>Lista de Lockers</h2>
        <div class="barra_pesquisa" >
            <input type="text" class="form-control" placeholder="Digite o codigo do locker" />
            <button class="btn btn-success" >Pesquisar</button>
        </div>

        <div class="lista_de_clientes" >

        </div>

      </div>
    </div>

  </div>
</div>
