<div class="Backdrop" [ngStyle]="{ 'display': displayBackDrop ? 'initial' : 'none' }" (click)="fecharSideDrawer()" >

</div>

<div class="SideDrawer" [ngClass]="{'Open': sideDrawerOpen2 === true, 'Close': sideDrawerOpen2 === false }" >

    <div class="geral_menu_lateral" >
        <div class="titulo_menu"> <h2 class="justify-content-center" >Lista de Menu</h2> </div>
        <hr/>
        <div class="opcoes_menu" >
            <ul class="list-group">
              <li class="list-group-item">Home</li>
              <li class="list-group-item">Usuários</li>
              <li class="list-group-item">Produtos</li>
              <li class="list-group-item">Lockers</li>
              <li class="list-group-item">Relatórios</li>
              <li class="list-group-item">Status da Plataforma</li>
            </ul>
        </div>
    </div>



</div>
