<div class="todo_admins" >

  <div class="geral" >
    <div class="DashBoard" >
      <h2>DASHBOARD</h2>


      <div class="row" >
        <div class="col-sm-6 locker_div">
          <h4>Consulte o Locker</h4>
          <div class="Entrada_Pesquisa" >
            <input type="text" class="form-control consulta_locker" placeholder="insira o codigo do locker" id="consulta_locker" #consultaLocker  />
            <button type="button" class="btn btn-success" >Consultar</button>
          </div>
        </div>
        <div class="col-sm-4 notificacao_div">
          <div class="titulo_notificacao d-flex justify-content-center" >
            <h4>Notificação:</h4>
          </div>
          <div class="notificacao_tabela" >
            <p>>> Busca Feita com sucesso </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 ">
          <div class="info_locker">
              <h4>Informação do Locker:</h4>
              <hr/>
              <div class="info_selected_locker d-flex justify-content-start" >
                <div class="serie" >
                  <h5 class="numero_serie" >Número de Série: </h5>
                  <p class="numero_serie_show">RU324BXP</p>
                </div>

                <div class="nome_locker" >
                  <h5 class="nome_locker" >Nome do Locker: </h5>
                  <p class="nome_locker_show" >Thalios thios</p>
                </div>

                <div class="localizacao" >
                  <h5 class="localizacao_part1">País:</h5>
                  <p>Brasil</p>

                  <h5 class="localizacao_part1" >Estado:</h5>
                  <p>São Paulo</p>

                  <h5 class="localizacao_part1" >Cidade: </h5>
                  <p>São Paulo</p>

                </div>
                <br/>


              </div>

              <div class="info_selected_locker2" >
                <div class="endereco" >
                  <h5 class="endereco_titulo" >Endereço:</h5>
                  <p>Rua das Queixeiras dos Passos.</p>
                </div>

                <div class="localizacao" >
                  <h5 class="localizacao_part1" >Cep:</h5>
                  <p>42523-234</p>
                </div>

                <div class="localizacao" >
                  <h5 class="localizacao_part1">Ponto de referencia: </h5>
                  <p>Super Mercados Public Master</p>
                </div>
              </div>

          </div>

        </div>
      </div>


    </div>
  </div>

</div>
